# Arquivos do Python
__pycache__/
*.pyc

# Ambiente Virtual
venv/

# Banco de dados
*.sqlite3
db.sqlite3

# Arquivos de IDE (VS Code)
.vscode/

# Arquivos de Mídia e Estáticos
/media/
/static/

# Arquivos de ambiente
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
