option_settings:
  # 1. Configura a VPC ID para que as sub-redes sejam reconhecidas
  "aws:ec2:vpc":
    VPCId: "vpc-05ff1e3ab1340ba09"

  # 2. Configura as sub-redes para as Instâncias (EC2Subnets)
  "aws:autoscaling:launchconfiguration":
    EC2Subnets: "subnet-0b8e527ac744e4ac3,subnet-0b9c0274e744e4ac3"

  # 3. Configura as sub-redes para o Load Balancer (ELBSubnets)
  "aws:ec2:vpc":
    ELBSubnets: "subnet-0b8e527ac744e4ac3,subnet-0b9c0274e744e4ac3"

  # 4. Garante que o Load Balancer é Público (Visibilidade)
  "aws:elasticbeanstalk:environment":
    EnvironmentType: LoadBalanced
    ServiceRole: "aws-elasticbeanstalk-service-role"
    LoadBalancerSubnets: "subnet-0b8e527ac744e4ac3,subnet-0b9c0274e744e4ac3"

  # 5. Garante que o Load Balancer é virado para a internet
  "aws:elb:loadbalancer":
    CrossZone: "true"
    ManagedSecurityGroup: "default"
    Subnets: "subnet-0b8e527ac744e4ac3,subnet-0b9c0274e744e4ac3"
    LoadBalancerIsPublic: "true"