option_settings:
  # 1. Configurações de Sub-rede (Instâncias EC2 e Load Balancer)
  # O namespace aws:ec2:vpc configura AMBOS os recursos com a opção "Subnets"
  "aws:ec2:vpc":
    VPCId: "vpc-05ff1e3ab1340ba09"
    Subnets: "subnet-0b8e527ac744e4ac3,subnet-0b9c0274e744e4ac3"
    
  # 2. Configurações do ELB
  # Garante que o Load Balancer é Público e usa as mesmas sub-redes.
  "aws:elb:loadbalancer":
    CrossZone: "true"
    LoadBalancerIsPublic: "true"
    Subnets: "subnet-0b8e527ac744e4ac3,subnet-0b9c0274e744e4ac3"