option_settings:
  # Configurações de VPC (Load Balancer e Instâncias)
  # Usamos o namespace aws:ec2:vpc para definir as sub-redes em Subnets, 
  # e as outras opções são limpas para evitar o erro de "Unknown configuration setting".
  "aws:ec2:vpc":
    VPCId: "vpc-05ff1e3ab1340ba09"
    Subnets: "subnet-0b8e527ac744e4ac3,subnet-0b9c0274e744e4ac3"
    
  # Garante a visibilidade pública para o Load Balancer
  "aws:elb:loadbalancer":
    CrossZone: "true"
    LoadBalancerIsPublic: "true"
    Subnets: "subnet-0b8e527ac744e4ac3,subnet-0b9c0274e744e4ac3"

  # As seguintes opções são limpas (setadas como "") para remover as configurações antigas que estão em conflito
  "aws:autoscaling:launchconfiguration":
    EC2Subnets: ""
    
  "aws:elasticbeanstalk:environment":
    LoadBalancerSubnets: ""