{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <div class="app-migrate module"> 
        <div class="module-header">
            <h2>MIGRAÇÃO</h2> 
        </div>
        <div class="module-body">
            <div class="row mb-2"> 
                <div class="col">
                    <a href="{% url 'casos:selecionar_filtros_exportacao' %}">
                        Exportação da Planilha de Migração
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <a href="{% url 'importar_casos_view' %}">
                        Importação Planilha de Migração
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}